@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
    body{
        background: silver url(../imagens/bola3.jpg)no-repeat ;
        background-size: cover;
    }
   
    section#Login{
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       overflow: hidden;
       
        background-color: white;
        width: 200px;
        height: 400px;
        border-radius: 70px;
        border:  7px solid black;

    }


    section#Login > div#Formulario{
        display: block;
        left: 10%;
        
    }